@import './platform';

// Essentially all the styles needed to transform a text box
// input element into something that doesn't look horrendous.
// It's a mix in because the styles are shared between inputs
// and select components.
@mixin textboxish {
  border: 1px solid var(--divider-color);
  border-radius: 6px;
  background: transparent;
  color: currentColor;
  font-size: 12px;
  font-family: var(--font-family-sans-serif);
  height: var(--text-field-height);
  padding: 0 var(--spacing-half);

  &:focus {
    @include textboxish-focus-styles;
  }

  &::-webkit-input-placeholder {
    color: var(--secondary-text-color);
  }
}

@mixin textboxish-focus-styles {
  outline: none;
  border-color: var(--text-field-focus-shadow-color);
}

@mixin textboxish-disabled-styles {
  background: transparent;
  color: var(--secondary-text-color);
}

@mixin textboxish-disabled {
  &:disabled {
    @include textboxish-disabled-styles;
  }
}
