// Variables
//
// This files contains CSS variables accessible to all selectors

// Primer colors, see https://github.com/primer/primer-css/blob/master/modules/primer-support/lib/variables/color-system.scss
@import '~primer-support/lib/variables/color-system.scss';

body.theme-dark {
  --color-new: #{$green};
  --color-deleted: #{$red};
  --color-modified: #{$yellow-700};
  --color-renamed: #{$blue};
  --color-conflicted: #{$orange};

  --text-color: #{$gray-300};
  --text-secondary-color: #{$gray-400};


  --button-border-radius: 4px;



  /**
   * Background color for custom scroll bars.
   * The color is applied to the thumb part of the scrollbar.
   *
   * Note: Only applies to win32 platforms
   */
  --scroll-bar-thumb-background-color: rgba(255, 255, 255, 0.2);

  /**
   * Background color for custom scroll bars in their active state.
   * The color is applied to the thumb part of the scrollbar.
   *
   * Note: Only applies to win32 platforms
   */
  --scroll-bar-thumb-background-color-active: rgba(255, 255, 255, 0.5);


  --base-border: 1px solid var(--divider-color);

  --base-box-shadow: 0 0 0 1px rgba(232,232,232 ,0.13),0 18px 48px 0 rgba(0,0,0,0.35);



  --toolbar-button-progress-color: #{$gray-800};

  /**
    * App menu bar colors (Windows/Linux only)
    */



  --app-menu-button-active-color: var(--text-color);
  --app-menu-button-active-background-color: #{$gray-800};
  --app-menu-pane-color: var(--text-color);
  --app-menu-pane-secondary-color: var(--secondary-text-color);
  --app-menu-pane-background-color: #{$gray-800};
  --app-menu-divider-color: #{$gray-600};





  /**
    * Badge colors when used inside of list items.
    * Example of this is the ahead/behind indicators inside
    * of the repository list.
    */







  /**
   * Toast notifications are shown temporarily for things like the zoom
   * percentage changing or the app toggling between full screen and normal
   * window mode.
   */
  --toast-notification-color: var(--text-color);
  --toast-notification-background-color: #{rgba(black, 0.8)};



  /**
   * Variables for form elements
   */
  --text-field-focus-shadow-color: rgb(93, 137, 249);

  /**
   * Diff view
   */

  --diff-text-color: var(--text-color);
  --diff-border-color: #{$gray-800};
  --diff-gutter-color: #{$gray-800};
  --diff-gutter-background-color: #{darken($gray-900, 3%)};

  --diff-line-number-color: var(--secondary-text-color);
  --diff-line-number-column-width: 50px;

  --diff-selected-background-color: #{$blue-700};
  --diff-selected-border-color: #{$blue-600};
  --diff-selected-gutter-color: #{$blue-600};
  --diff-selected-text-color: var(--text-color);

  --diff-add-background-color: #{darken($green-900, 3%)};
  --diff-add-border-color: #{darken($green-900, 2%)};
  --diff-add-gutter-color: #{darken($green-900, 2%)};
  --diff-add-gutter-background-color: #{darken($green-900, 8%)};
  --diff-add-inner-background-color: #{$green-600};
  --diff-add-text-color: var(--diff-text-color);

  --diff-delete-background-color: #{darken($red-900, 15%)};
  --diff-delete-border-color: #{darken($red-900, 10%)};
  --diff-delete-gutter-color: #{darken($red-900, 10%)};
  --diff-delete-gutter-background-color: #{darken($red-900, 20%)};
  --diff-delete-inner-background-color: #{$red-700};
  --diff-delete-text-color: #{$red-100};

  --diff-hunk-background-color: #{darken($gray-900, 3%)};
  --diff-hunk-border-color: #{lighten($gray-900, 3%)};
  --diff-hunk-gutter-color: #{lighten($gray-900, 3%)};
  --diff-hunk-gutter-background-color: #{darken($gray-900, 6%)};
  --diff-hunk-text-color: var(--secondary-text-color);

  --diff-hover-background-color: #{$blue-500};
  --diff-hover-border-color: #{$blue-400};
  --diff-hover-gutter-color: #{$blue-400};
  --diff-hover-text-color: var(--diff-text-color);

  --diff-add-hover-background-color: #{$green-900};
  --diff-add-hover-border-color: #{$green-700};
  --diff-add-hover-gutter-color: #{$green-700};
  --diff-add-hover-text-color: var(--text-color);

  --diff-delete-hover-background-color: #{$red-800};
  --diff-delete-hover-border-color: #{$red-700};
  --diff-delete-hover-gutter-color: #{$red-700};
  --diff-delete-hover-text-color: var(--text-color);

  --diff-empty-row-background-color: #{darken($gray-900, 1%)};
  --diff-empty-row-gutter-background-color: var(--diff-gutter-background-color);

  // Syntax highlighting text colors
  --syntax-variable-color: #{$purple-300};
  --syntax-alt-variable-color: #{$blue-300};
  --syntax-keyword-color: #{$red-300};
  --syntax-atom-color: #{$blue-300};
  --syntax-string-color: #{$orange-300};
  --syntax-qualifier-color: #{$purple-300};
  --syntax-type-color: #{$red-300};
  --syntax-comment-color: #{$gray-400};
  --syntax-tag-color: #{$green-400};
  --syntax-attribute-color: #{$purple-300};
  --syntax-link-color: #{$blue-300};
  --syntax-header-color: #{$red-300};

  // Colors for form errors
  --error-color: #{$red};
  --form-error-background: #{darken($red-900, 3%)};
  --form-error-border-color: #{$red-900};
  --form-error-text-color: var(--text-color);

  /** Overlay is used as a background for both modals and foldouts */
  --overlay-background-color: rgba(0, 0, 0, 0.6);

  /** Dialog */
  --dialog-warning-color: #{$yellow-600};
  --dialog-error-color: #{$red-600};

  /** Inline paths and code */
  --path-segment-background: #{$gray-700};

  .blankslate-image {
    filter: #{'invert()'} grayscale(1) brightness(8) contrast(0.6);
  }

  /** Diverging notification banner colors */
  --notification-banner-background: #{$gray-800};
  --notification-banner-border-color: #{$gray-700};
  --notification-ref-background: #{$gray-700};

  /** merge/rebase status indicators */
  --status-pending-color: #{$yellow-700};
  --status-error-color: #{$red-500};
  --status-success-color: #{$green-500};

  // PR status icon colors
  --pr-open-icon-color: #{$green-500};
  --pr-draft-icon-color: #{$gray-400};
}

// this emulates the cursor for the co-author input because it isn't exactly
// an input element. credit for identify the right CSS class name goes to
// this post: https://css-tricks.com/snippets/css/solarized-theme-for-codemirror-and-prettify/
.CodeMirror-cursor {
  border-left-color: currentColor;
}
