@import '../../mixins';

/** A React component holding the main application toolbar component. */
#desktop-app-toolbar {
  height: var(--toolbar-height);

  display: flex;
  flex-direction: row;

  flex-grow: 0;
  flex-shrink: 0;

  /* See https://css-tricks.com/flexbox-truncated-text/
   * We need to do this "hack" or else the container will
   * always grow to fit the intrinsic width of its children
   * and thus killing our text truncation in the title.
   */
  min-width: 0;

  color: var(--toolbar-text-color);
  background-color: var(--toolbar-background-color);
  padding: 0 var(--spacing);

  > div {
    height: calc(var(--toolbar-height) - 10px);
    border-radius: 4px;
    margin-right: var(--spacing);
    overflow: hidden;
    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    div {
      &.open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    .border-right {
      display: none;
    }
  }

  .sidebar-section {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    & > :last-child {
      flex-grow: 1;
    }
  }

  .toolbar-button {
    &.push-pull-button {
      width: 230px;
    }
  }

  .toolbar-dropdown {
    &.branch-button {
      width: 230px;
    }
  }

  .toolbar-button {
    &.revert-progress {
      width: 230px;
    }
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

.ahead-behind {
  display: flex;

  background: var(--toolbar-badge-background-color);

  // Perfectly round semi circle ends with real tight
  // padding on either side. Now in two flavors!
  @include darwin {
    height: 13px;
  }

  @include win32 {
    height: 14px;
  }

  border-radius: 8px;
  padding: 0 6px;

  font-size: var(--font-size-xs);
  font-weight: 600;

  span {
    display: flex;
    align-items: center;

    // Only add left margin if both ahead and behind are
    // showing at the same time.
    &:nth-child(2) {
      margin-left: var(--spacing-half);
    }

    .octicon {
      width: 10px;
      margin-left: var(--spacing-third);
    }
  }
}

.toolbar-button-new {
  .button-component {
    min-width: var(--toolbar-height);

    .toolbar-icon-text {
      flex-direction: column;
      justify-content: center;
    }

    .ahead-behind {
      margin-left: var(--spacing);
    }

    .icon {
      margin-right: 0;
      margin-top: 4px;
    }

    .text {
      margin-right: 0;
    }

    &:disabled {
      .icon, .text { color: var(--toolbar-button-secondary-color) }
    }
  }
}