#fork-settings {
  width: 480px;

  .fork-settings-description {
    margin-top: var(--spacing);
    font-size: 11px;
    color: var(--secondary-text-color);

    li {
      padding: 0;
      margin-bottom: 0;
    }
  }
}
