@import '../mixins';

.author-input-component {
  &.disabled .CodeMirror {
    @include textboxish-disabled-styles;
  }

  .CodeMirror {
    @include textboxish;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    height: auto;

    .label {
      color: var(--secondary-text-color);
    }

    .placeholder {
      color: var(--secondary-text-color);
      cursor: text;
    }
  }

  .CodeMirror-focused {
    @include textboxish-focus-styles;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: -1px;
  }

  .CodeMirror-scroll {
    max-height: 80px;
  }
}
