@import '../mixins';

.button-component {
  @include ellipsis;
  // Chrome on Windows ignores the body element
  // font-family and uses Arial so we redefine
  // it here
  font-family: var(--font-family-sans-serif);
  font-size: 12px;

  padding: 0 var(--spacing);

  border: none;
  height: 36px;

  color: var(--secondary-button-text-color);
  background-color: var(--secondary-button-background);

  border-radius: var(--button-border-radius);
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: var(--secondary-button-hover-background);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.6;
  }

  .octicon {
    vertical-align: middle;
  }

  &.button-with-icon .octicon {
    margin-left: var(--spacing);
  }
}

.button-component[type='submit'] {
  font-weight: 600;
  font-size: 14px;
  background-color: var(--color-accent-background);
  color: var(--button-text-color);

  &:not(:disabled):hover {
    background-color: var(--color-accent-background-hover);
  }
}

.button-component-primary {
  font-weight: 800;
  font-size: 15px;
  background-color: var(--color-accent-background-hover);
  color: var(--button-text-color);
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: var(--color-accent-background-hover);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
  }
}

.link-button-component {
  color: var(--link-button-color);
  text-decoration: none;
  cursor: pointer;

  display: inline-flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  &[disabled] {
    opacity: 0.6;
    cursor: default;
    text-decoration: none;
  }

  &.link-with-icon .octicon {
    margin-left: var(--spacing-half);
  }
}

.small-button {
  font-size: 11px;
  padding: 0 var(--spacing-half);
  height: 21px;
}

.button-group-item {
  border-right-width: 0;
  border-radius: 0;

  &:first-child {
    border-top-left-radius: var(--button-border-radius);
    border-bottom-left-radius: var(--button-border-radius);
  }

  &:last-child {
    border-right-width: 1px;
    border-top-right-radius: var(--button-border-radius);
    border-bottom-right-radius: var(--button-border-radius);
  }

  &.selected,
  &:focus,
  &:active,
  &:hover {
    border-right-width: 1px;

    + .button-group-item {
      border-left-width: 0;
    }
  }
}

.button-group-item {
  &:focus,
  &:active {
    z-index: 1;
  }
}

.submodules-dropdown-button {
  .button-component:not(:disabled):hover {
    box-shadow: none;
  }
}