.checkbox-component {
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    margin: 0;

    // Only add a right margin if there's a label attached to it
    &:not(:last-child) {
      margin-right: var(--spacing-half);
    }

    &:focus {
      // Don't know why but on Windows this is necessary to
      // not have a 1px gap around the checkbox on the right
      // hand side. I'm guessing it's the same on mac?
      outline-offset: -1px;
    }
  }
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="checkbox"]+span:not(.lever) {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type="checkbox"].filled-in+span:not(.lever):before, [type="checkbox"].filled-in+span:not(.lever):after {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border .15s, background-color .15s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  transition: border .15s, background-color .15s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  z-index: 1;
}

[type="checkbox"]:checked+span:not(.lever):before {
  top: 1px;
  left: 1px;
  width: 6px;
  height: 14px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid var(--divider-color);
  margin-top: 3px;
  -webkit-transition: .1s;
  transition: .1s;
  border-radius: 2px;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-accent);
  background-color: var(--color-accent);
  z-index: 0;
}

[type="checkbox"].filled-in+span:not(.lever):after {
  border-radius: 2px;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid var(--divider-color);
  top: 0;
  z-index: 0;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}