@import '../mixins';

.tags-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 265px;

  .tags-list {
    width: 265px;
    min-height: 0;
  }
}

.tags-list {

  &-item {
    padding: 0 var(--spacing);
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;

    svg {
      margin-right: 5px;
    }

    .created-at {
      @extend .description;
      margin-right: 0;
    }

    .name {
      flex: 1 1 auto;
      @include ellipsis;
      max-width: 65%;
      margin-right: var(--spacing-half);

      /* Used to highlight substring matches in filtered lists */
      mark {
        font-weight: bold;
        /* Reset browser defaults */
        background-color: inherit;
        color: currentColor;
      }
    }

    .description {
      margin-right: var(--spacing-half);
      color: var(--text-secondary-color);
      font-size: var(--font-size-sm);
      flex-grow: 1;
      text-align: right;
      white-space: nowrap;
    }
  }
}